.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin: 40px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 340px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  grid-gap: 32px;
}

.u-section-1 .u-list-item-1 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 0 12px;
}

.u-section-1 .u-text-2 {
  font-family: Afacad;
  font-style: normal;
  font-size: 1.5625rem;
  margin: 9px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
    min-height: 278px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

.u-section-1 .u-container-layout-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7303-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-7303-15:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7303-15:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7303-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-7303-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7303-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7303-18:not([data-block-selected]):not([data-cell-selected]),
.u-block-7303-18:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7303-18:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7303-18:not([data-block-selected]):not([data-cell-selected]).u-block-7303-18:not([data-block-selected]):not([data-cell-selected]).u-block-7303-18:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-block-7303-18:not([data-block-selected]):not([data-cell-selected]).u-block-7303-18:not([data-block-selected]):not([data-cell-selected]).u-block-7303-18:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
} .u-section-2 {
  background-image: linear-gradient(white, #5888f1);
}

.u-section-2 .u-sheet-1 {
  min-height: 1475px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Afacad;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Afacad;
  margin: 132px auto 0 277px;
}

.u-section-2 .u-list-1 {
  width: 855px;
  height: auto;
  margin: -168px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 246px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-1 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: Afacad;
  font-style: normal;
  font-size: 1.25rem;
  margin: 8px 8px 0;
}

.u-section-2 .u-text-4 {
  font-family: Afacad;
  margin: 20px 279px 0 8px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 285px;
  height: 239px;
  --radius: 10px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(var(--custom-color-26-r),var(--custom-color-26-g),var(--custom-color-26-b),0);
  margin: -239px auto 0 855px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-family: Afacad;
  margin: 60px 0 0 855px;
}

.u-section-2 .u-image-2 {
  width: 285px;
  height: 293px;
  --radius: 10px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(var(--custom-color-26-r),var(--custom-color-26-g),var(--custom-color-26-b),0);
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-2 {
  width: 855px;
  height: auto;
  margin: -293px auto 0 285px;
}

.u-section-2 .u-repeater-2 {
  min-height: 312px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-2 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-2 .u-text-6 {
  font-family: Afacad;
  font-style: normal;
  font-size: 1.25rem;
  margin: 8px 8px 0;
}

.u-section-2 .u-text-7 {
  font-family: Afacad;
  margin: 32px 613px 0 8px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 53px;
  height: 53px;
  --radius: 10px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(var(--custom-color-26-r),var(--custom-color-26-g),var(--custom-color-26-b),0);
  margin: 129px auto 0 95px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-family: Afacad;
  margin: -53px 1053px 0 0;
}

.u-section-2 .u-list-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-repeater-3 {
  min-height: 244px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-columns: 100%;
  grid-gap: 32px;
}

.u-section-2 .u-list-item-3 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-family: Afacad;
  font-style: normal;
  font-size: 1.25rem;
  margin: 27px -4px 0 20px;
}

.u-section-2 .u-image-4 {
  width: 872px;
  height: 181px;
  margin: -4px auto 0 20px;
}

.u-section-2 .u-text-10 {
  font-family: Afacad;
  margin: -88px 61px 0 939px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-family: Afacad;
  font-size: 1.5625rem;
  font-weight: 700;
  width: 188px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-4 {
  width: 792px;
  height: auto;
  margin: 7px auto 34px;
}

.u-section-2 .u-repeater-4 {
  min-height: 190px;
  grid-template-columns: repeat(2, calc(50% - 16px));
  grid-auto-columns: calc(50% - 16px);
  grid-gap: 32px;
}

.u-section-2 .u-list-item-4 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-2 .u-container-layout-4 {
  padding: 11px 0 12px;
}

.u-section-2 .u-text-12 {
  font-family: Afacad;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  width: 135px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-family: Afacad;
  font-style: normal;
  margin: 15px 13px 0;
}

.u-section-2 .u-text-14 {
  font-family: Afacad;
  font-style: normal;
  width: 203px;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-2 .u-container-layout-5 {
  padding: 11px 0 12px;
}

.u-section-2 .u-text-15 {
  font-family: Afacad;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  width: 135px;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-family: Afacad;
  font-style: normal;
  margin: 15px 13px 0;
}

.u-section-2 .u-text-17 {
  font-family: Afacad;
  font-style: normal;
  width: 203px;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1754px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 87px;
    margin-right: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -116px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 98px;
    height: 82px;
    margin-top: -328px;
    margin-left: 146px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 377px;
    margin-left: 655px;
  }

  .u-section-2 .u-image-2 {
    width: 78px;
    height: 81px;
    margin-top: -81px;
    margin-right: 294px;
    margin-left: auto;
  }

  .u-section-2 .u-list-2 {
    margin-top: 0;
    margin-left: 85px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-3 {
    margin-top: 157px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 853px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 800px;
  }

  .u-section-2 .u-list-4 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-13 {
    width: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2040px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 111px;
    margin-right: 414px;
    margin-left: 211px;
  }

  .u-section-2 .u-list-1 {
    min-height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: 568px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 117px;
    height: 98px;
    margin-top: -350px;
    margin-left: 152px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 413px;
    margin-left: 446px;
  }

  .u-section-2 .u-image-2 {
    width: 106px;
    height: 106px;
    margin-top: -106px;
    margin-right: 281px;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: 234px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 128px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 633px;
  }

  .u-section-2 .u-list-3 {
    margin-top: -3px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 158px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 13px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-image-4 {
    width: 720px;
    height: 149px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    width: 140px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: 214px;
  }

  .u-section-2 .u-list-4 {
    width: 720px;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-14 {
    margin-top: 17px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-16 {
    width: 236px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-17 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1665px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 68px;
    margin-right: 311px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 53px;
    height: 44px;
    margin-top: -296px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 309px;
    margin-left: 339px;
  }

  .u-section-2 .u-image-2 {
    width: 65px;
    height: 65px;
    margin-top: -65px;
    margin-right: 205px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 9px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 77px;
    margin-left: 65px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -40px;
    margin-right: 453px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-top: 13px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 112px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    margin-top: 71px;
  }

  .u-section-2 .u-list-4 {
    width: 540px;
  }

  .u-section-2 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2007px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 103px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 39px;
    margin-right: 196px;
    margin-left: 99px;
  }

  .u-section-2 .u-list-1 {
    min-height: 380px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    width: 63px;
    height: 53px;
    margin-top: -433px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 517px;
    margin-left: 170px;
  }

  .u-section-2 .u-image-2 {
    width: 66px;
    height: 66px;
    margin-top: -60px;
    margin-left: 104px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 40px;
    margin-left: 66px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-3 {
    margin-top: 61px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -34px;
    margin-right: 253px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 169px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 5px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 15px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 71px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 150px;
  }

  .u-section-2 .u-list-4 {
    width: 340px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 22px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 22px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 21px;
  }
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-429a-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-429a-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-429a-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-429a-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-429a-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-429a-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-429a-56:not([data-block-selected]):not([data-cell-selected]),
.u-block-429a-56:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-429a-56:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-429a-56:not([data-block-selected]):not([data-cell-selected]).u-block-429a-56:not([data-block-selected]):not([data-cell-selected]).u-block-429a-56:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-block-429a-56:not([data-block-selected]):not([data-cell-selected]).u-block-429a-56:not([data-block-selected]):not([data-cell-selected]).u-block-429a-56:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}