.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

.u-section-1 .u-text-1 {
  font-family: Afacad;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 105px auto 60px 83px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 839px;
} .u-section-3 {
  background-image: linear-gradient(white, #5888f1);
}

.u-section-3 .u-sheet-1 {
  min-height: 231px;
}